@charset "utf-8";
/* CSS Document */
.zt {
	font-family: "微软雅黑";
}

.box-bg {
	width: 998px;
	overflow: hidden;
	border: 1px solid #e3e3e3;
	margin: 0 auto;
	background: #fff;
}

.box {
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
}

.box-left {
	width: 730px;
	overflow: hidden;
	float: left;
}

.box-new {
	width: 730px;
	overflow: hidden;
}

.b-hdp {
	margin-top: -1px;
}

.box-l {
	width: 340px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}

.new-tit {
	width: 340px;
	height: 45px;
	line-height: 45px;
}

.ntit-l {
	width: 340px;
	height: 43px;
}

.new-t {
	font-weight: bold;
	width: 340px;
	height: 43px;
	float: left;
}

.new-t img {
	float: left;
	padding-top: 5px;
	padding-left: 10px;
}

.new-t h3 {
	float: left;
	color: #213148;
	font-size: 18px;
	padding-left: 10px;
	font-family: "微软雅黑";
	font-style: italic;
}

.new-t span {
	float: left;
	color: #ff4800;
	font-family: "微软雅黑";
	padding-left: 5px;
	padding-top: 3px;
}

.new-line {
	width: 430px;
	height: 2px;
	background: #e6e6e6;
}

.new-bule {
	width: 140px;
	height: 2px;
	background: #169fe7;
}

.new-img {
	width: 340px;
	height: 300px;
	position: relative;
	margin-top: 10px;
}

.new-k {
	width: 340px;
	height: 30px;
	background: #333;
	opacity: 0.5;
	position: absolute;
	bottom: 0px;
	line-height: 30px;
}

.new-k h3 {
	color: #fff;
	padding-left: 10px;
	font-size: 14px;
}

.box-m {
	width: 370px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}

.n-tit {
	width: 370px;
	height: 24px;
	padding-top: 20px;
	border-bottom: 1px solid #e3e3e3;
}

.n-tit span {
	text-align: center;
}

.tit-bg01 {
	background: url(../images/index_26.jpg) no-repeat;
	width: 78px;
	height: 24px;
	margin-left:10px;
	float: left;
}

.tit-bg01 h3 a {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
}

.tit-bg02 {
	background: url(../images/index-_07.jpg) no-repeat;
	width: 78px;
	height: 24px;
	float: left;
	margin-left: 10px;
}

.tit-bg02 h3 a {
	color: #333;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
}

.n-nr {
	height:275px;
	width: 370px;
	overflow: hidden;
	padding-top: 10px;
}

.n-nr ul {
	width: 370px;
	overflow: hidden;
}

.n-nr ul li {
	background: url(../images/index--_07.jpg) left no-repeat;
	padding-left: 10px;
	list-style: none;
	line-height: 28px;
	height: 28px;
	overflow: hidden;
}

.n-nr ul li a {
	float: left;
	text-decoration: none;
	width: 280px;
}

.n-nr ul li span {
	float: right;
	color: #999;
}

.hot {
	color: #F00;
}

.new-ad {
	padding-left: 10px;
	width: 720px;
	height: 90px;
	padding-top: 15px;
}

.box-right {
	width: 250px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}

.box-login {
	width: 250px;
	overflow: hidden;
	padding-top: 15px;
}

.lg-tit {
	width: 250px;
	height: 30px;
	background: #ebebeb;
	line-height: 30px;
	text-align: center;
}

.lg-tit h3 {
	font-size: 14px;
	color: #169fe7;
}

.lg-nr {
	background: #f5fcff;
	overflow: hidden;
}

.lg-list {
	width: 210px;
	height: 40px;
	line-height: 40px;
	margin-left: 20px;
}

.lg-text {
	width: 140px;
	height: 25px;
	color: #999;
	border: 1px solid #e1e1e1;
}

.lg-btn {
	width: 250px;
	height: 36px;
	padding-top: 10px;
}

.lbtn {
	background: url(../images/index_37.jpg) no-repeat;
	width: 77px;
	height: 29px;
	border: none;
	float: left;
	margin-left: 20px;
}

.lg-btn a {
	line-height: 30px;
	padding-left: 10px;
	float: left;
}

.box-btn {
	width: 250px;
	overflow: hidden;
	padding-top: 10px;
}

.box-btn img {
	padding-top: 5px;
}

/*第一个板块结束*/
.ctit-l {
	width: 978px;
	height: 43px;
}

.ctit-more a {
	float: right;
	color: #999;
}

.c-tit {
	width: 978px;
	height: 45px;
	line-height: 45px;
	margin-left: 10px;
	padding-top: 10px;
}

.c-line {
	width: 978px;
	height: 2px;
	background: #e6e6e6;
}

.c-nr {
	width: 978px;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 10px;
}

.c-nr img {
	float: left;
	padding-left: 22px;
}

/*第二个板块结束*/
.cg-nr {
	width: 978px;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
}

.cg-l {
	width: 720px;
	overflow: hidden;
	float: left;
}

.cg-tit {
	width: 720px;
	height: 30px;
	line-height: 30px;
}

.cg-tit h3 {
	float: left;
	color: #169fe7;
	font-size: 14px;
}

.cg-tit span {
	float: right;
	color: #999;
}

.cg-nre {
	width: 720px;
	height: 170px;
	overflow: hidden;
}

.cg-nr li {
	float: left;
	width: 168px;
	overflow: hidden;
	padding-right: 12px;
}

.cg-nr li a {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

.cg-r {
	width: 245px;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}

.zn-tit {
	width: 245px;
	height: 30px;
	line-height: 30px;
}

.zn-tit h3 {
	font-size: 14px;
	color: #169fe7;
	float: left;
}

.zn-tit span {
	float: right;
	color: #999;
}

.zn-nr {
	width: 245px;
	overflow: hidden;
}

.zn-nr li {
	line-height: 28px;
	height: 28px;
	background: url(../images/index--_07.jpg) left no-repeat;
	padding-left: 10px;
	width: 245px;
}

/*第三个板块结束*/
.ev-nr {
	width: 978px;
	margin-left: 10px;
	overflow: hidden;
	padding-top: 10px;
}

.ev-tit {
	width: 978px;
	height: 30px;
	background: #ededed;
	line-height: 30px;
	color: #333;
	text-align: center;
}

.ev-hd {
	width: 365px;
	float: left;
	border-right: 1px solid #fff;
}

.ev-rq {
	width: 155px;
	float: left;
	text-align: center;
	border-right: 1px solid #fff;
}

.ev-sj {
	width: 150px;
	float: left;
	text-align: center;
	border-right: 1px solid #fff;
}

.ev-dd {
	width: 230px;
	float: left;
}

.ev-list {
	width: 978px;
	line-height: 35px;
	min-height: 35px;
	border-bottom: 1px dashed #dbdbdb;
}

.ev-hd h3 {
	color: #169fe7;
}

.ev-btn {
	width: 75px;
	float: left;
}

.ev-btn img {
	margin-top: 3px;
	padding-right: 5px;
}

.sl-nr {
	width: 978px;
	overflow: hidden;
	margin-left: 10px;
	padding-top: 10px;
}

.sl-nr li {
	float: left;
	position: relative;
	padding-right: 15px;
	list-style: none;
}

.sl-k {
	width: 147px;
	height: 30px;
	background: #333;
	opacity: 0.6;
	position: absolute;
	bottom: 0px;
}

.sl-k h3 {
	text-align: center;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
}

.t-img {
	width: 80px;
	float: right;
}

.t-img img {
	margin-top: 5px;
}

.hz-nr {
	width: 978px;
	overflow: hidden;
	margin-left: 10px;
	padding-top: 20px;
}

.hz-nr img {
	float: left;
	padding-right: 20px;
}

.yq-nr {
	width: 978px;
	overflow: hidden;
	margin-left: 10px;
	padding-top: 20px;
}

.yq-nr a {
	padding-right: 10px;
	line-height: 28px;
}

.sy-h {
	background: url(../images/img1_03.png) left no-repeat;
	padding-left: 20px;
	color: #169fe7;
	font-size: 14px;
	margin-left: 15px;
	margin-top: 10px;
}

.sy-btn {
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}

.suc-content-box {
	padding: 15px 0;
}

.suc-border-l {
	border-left: 1px dashed #e3e3e3;
}

.suc-border-t {
	border-top: 1px dashed #e3e3e3;
}

.suc-border-r {
	border-right: 1px dashed #e3e3e3;
}

.suc-border-b {
	border-bottom: 1px dashed #e3e3e3;
}

.suc-border-a {
	border: 1px dashed #e3e3e3;
}

.suc-float-l {
	float: left;
}

.suc-float-r {
	float: right;
}

.suc-content-left {
	float: left;
	width: 26%;
}

.suc-content-right {
	float: right;
	width: 74%;
}

.suc-describle-text {
	color: #169fe7;
	font-weight: bold;
}

.suc-describle-title-l {
	font-size: 12px;
	color: #333;
}

.suc-clearfix {
	clear: both;
}

.suc-concat-list {
	display: inline-block;
	float: left;
	padding: 20px;
	line-height: 3em;
}

.tb-p p {
	color: #666;
}

.suc-item-addr {
	background: url("../images/index_117.jpg") no-repeat left;
	padding-left: 40px;
}

.suc-item-email {
	background: url("../images/index_120.jpg") no-repeat left;
	padding-left: 40px;
}

.suc-item-tel {
	background: url("../images/index_124.jpg") no-repeat left;
	padding-left: 40px;
}

.suc-ul {
	width: 98%;
	padding-top: 10px;
}

.suc-ul li {
	display: block;
	width: 100%;
	height: auto;
	line-height: 30px;
	padding: 0 1%;
}

.suc-ul li table ~ div {
	display: none;
}

.suc-ul li table {
	width: 100%;
	border-bottom: 1px dashed #ddd;
}

.t-p {
	float: left;
}

.suc-ul li table span {
	cursor: pointer;
	padding-left: 20px;
	float: right;
}

.suc-ul li.suc-ul-header table {
	background: #ddd;
	border-bottom: none;
	text-align: center;
}

.suc-ul li.suc-ul-header table td {
	border-right: 1px solid #fff;
}

.suc-ul li.suc-ul-header table td:last-child {
	border-right: none;
}

.suc-media-focus {
	padding-left: 20px;
	background: url("../images/index--_07.jpg") no-repeat 5px;
}

.suc-detail-btn-close {
	margin-left: 10px;
	background: url(../images/icon_11.jpg) left;
	background-repeat: no-repeat;
	padding: 1px 0 1px 20px;
}

.suc-detail-btn-open {
	
}

.cenav {
	width: 55px;
	overflow: hidden;
	z-index: 9999;
}

.cenav li {
	width: 55px;
	height: 55px;
	text-align: center;
	list-style: none;
	margin-bottom: 10px;
}

.cenav li a {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}

.ce-o {
	background: #0781ac;
}

.ce-o a {
	margin-top: 10px;
}

.ce-t {
	background: #26b5e7;
}

.ce-li1 {
	line-height: 55px;
}

.ce-li2 {
	line-height: 24px;
}
.s-hd{width:168px; height:22px; overflow:hidden; line-height:22px;}