@charset "utf-8";
/* CSS Document */

	


.zt{
	font-family:"微软雅黑";}

.box-bg{
	width:998px;
	overflow:hidden;
	border:1px solid #e3e3e3;
	margin:0 auto;
	background:#fff;}

.box{
	width:1000px;
	overflow:hidden;
	margin:0 auto;}
	
.slide{
	margin:0 auto;
	}
.slide1 img{ 
	height: 140px;
	}	
.box-left{
	width:730px;
	overflow:hidden;
	float:left;}
	
.box-new{
	width:730px;
	overflow:hidden;
	height: 225px;}
	
.b-hdp{
	margin-top:-1px;}
	
.box-l{
	width:280px;
	overflow:hidden;
	float:left;}
	
.new-tit{
	height:45px;
	line-height:45px;}
	
.ntit-l{
	width:340px;
	height:43px;}

.new-t{
	font-weight:bold;
	width:340px;
	height:43px;
	float:left;}	
	
.new-t img{
	float:left;
	padding-top:10px;
	padding-left:0px;}
	
.new-t h3{
	float:left;
	color:#213148;
	font-size:18px;
	padding-left:10px;
	font-family:"微软雅黑";
	font-style:italic;}
	
.new-t span{
	float:left;
	color:#ff4800;
	font-family:"微软雅黑";
	padding-left:5px;
	padding-top:3px;}
	
.new-line{
	width:430px;
	height:2px;
	background:#e6e6e6;}	
	
.new-bule{
	width:200px;
	height:2px;
	background:#169fe7;}
	
.new-img{
	width:340px;
	height:185px;
	position:relative;
	margin-top:10px;}
	
.new-k{
	width:340px;
	height:30px;
	background:#333;
	opacity:0.5;
	position:absolute;
	bottom:0px;
	line-height:30px;}
	
.new-k h3{
	color:#fff;
	padding-left:10px;
	font-size:14px;}
	
.box-m{
	width:430px;
	overflow:hidden;
	float:left;
	margin-left:15px;}	
	
.n-tit{
	width:430px;
	height:24px;
	padding-top:20px;
	border-bottom:1px solid #e3e3e3;}
	
.n-tit span{
	text-align:center;}
	
.tit-bg01{
	background:url(../images/index_26.jpg) no-repeat;
	width:78px;
	height:24px;
	float:left;
	margin-left: 10px;}

.tit-bg01 h3 a{
	color:#fff;
	font-size:14px;
	line-height:24px;
	text-decoration:none;}	
	
.tit-bg02{
	background:url(../images/index-_07.jpg) no-repeat;
	width:78px;
	height:24px;
	float:left;
	margin-left:10px;}
	
.tit-bg02 h3 a{
	color:#333;
	font-size:14px;
	line-height:24px;
	text-decoration:none;}	
	
.n-nr{
	width:430px;
	overflow:hidden;
	padding-top:10px;}
	
.n-nr ul{
	width:430px;
	overflow:hidden;}
	
.n-nr ul li{
	background:url(../images/index--_07.jpg) left no-repeat ;
	list-style:none;
	line-height:24px;
	height:24px;
	overflow:hidden;
	width: 430px;
  	padding: 0 0 0 10px;
	}
	
.n-nr ul li a{
	text-decoration:none;
	width:350px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;}
	
.n-nr ul li span{
	float:right;
	margin: 0 10px 0 0;
	color:#999;}
	
.hot{
	color:#F00;}
	
.new-ad{
	padding-left:10px;
	width:720px;
	height:90px;
	padding-top:10px;}
	
	
	
.box-right{
	width:250px;
	overflow:hidden;
	float:left;
	margin-left:10px;
	padding-top:10px;}
	
.box-login{
	width:250px;
	overflow:hidden;
	padding-top:15px;}
	
.b-km{
	width:250px;
	height:40px;
	background:#ff7800;
	color:#fff;
	font-size:13px;
	text-align:center;
	font-weight:bold;}
	
.b-km b{
	color:#F00;
	font-size:16px;}
	
.box-btn img{
	padding-top:5px;}

.expo-left{
	width:490px;
	overflow:hidden;
	float:left;}

.expo-r{
	width:490px;
	overflow:hidden;
	float:right;}
	
.b-ad{
	padding-top:10px;}
	
/*第一个板块结束*/	
	
	
	

.ctit-l{
	width:490px;
	height:43px;}
	
.btit-l{
	width:1000px;
	height:43px;}
	
.ctit-more a{
	float:right;
	color:#999;}
	
.c-tit{
	width:490px;
	height:45px;
	line-height:45px;
	padding-top:15px;}
	
.c-line{
	width:490px;
	height:2px;
	background:#e6e6e6;}
	
	
.c-nr{
	width:490px;
	overflow:hidden;
	padding-top:15px;
	padding-bottom:10px;}
	
/*.c-nr img{
	float:left;
	padding-left:22px;}*/
	
.b-tit{
	width:1000px;
	height:45px;
	line-height:45px;
	padding-top:15px;}
	
.b-line{
	width:1000px;
	height:2px;
	background:#e6e6e6;}
	
.expo{
	width:100%;
	overflow:hidden;}
	
.expo li{
	width:120px;
	float:left;
	margin-left:30px;
	height:120px;
	border-radius:15%;
	background:#ececec;
	list-style:none;
	text-align:center;
	margin-bottom: 15px;}
	
.expo li:hover{
	background:#2ab0ed;}

.icon-venue i{
	width:68px;
	height:68px;
	margin-top:15px;
	background:url(../images/sy_27.png) no-repeat;
	display:inline-block;}
	
.icon-venue:hover i{
	background:url(../images/sy_28.png) no-repeat;}
	
.icon-venue:hover span{
	color:#fff;}
	

.icon-ser i{
	width:68px;
	height:68px;
	margin-top:15px;
	background:url(../images/sy_29.png) no-repeat;
	display:inline-block;}
	
.icon-ser:hover i{
	background:url(../images/sy_30.png) no-repeat;}
	
.icon-ser:hover span{
	color:#fff;}
	
		
.icon-light i{
	width:68px;
	height:68px;
	margin-top:15px;
	background:url(../images/sy_34.png) no-repeat;
	display:inline-block;}
	
.icon-light:hover i{
	background:url(../images/sy_35.png) no-repeat;}
	
.icon-light:hover span{
	color:#fff;}
	
	
.icon-supp i{
	width:68px;
	height:68px;
	margin-top:15px;
	background:url(../images/sy_38.png) no-repeat;
	display:inline-block;}
	
.icon-supp:hover i{
	background:url(../images/sy_39.png) no-repeat;}
	
.icon-supp:hover span{
	color:#fff;}
	
	
.icon-guide i{
	width:68px;
	height:68px;
	margin-top:15px;
	background:url(../images/sy_36.png) no-repeat;
	display:inline-block;}
	
.icon-guide:hover i{
	background:url(../images/sy_37.png) no-repeat;}
	
.icon-guide:hover span{
	color:#fff;}

	
	


.icon-expo i{
	width:68px;
	height:68px;
	margin-top:15px;
	background:url(../images/sy_31.png) no-repeat;
	display:inline-block;}
	
.icon-expo:hover i{
	background:url(../images/sy_32.png) no-repeat;}
	
.icon-expo:hover span{
	color:#fff;}

	
.expo li span{
	width:120px;
	height:30px;
	line-height:30px;
	text-align:center;
	display:inline-block;}
	
	
.ex-k a{
	font-size:14px;}
	
.ex-k:hover{
	color:#fff;}
/*第二个板块结束*/	
	
	
	
.cg-nr{
	width:978px;
	overflow:hidden;
	padding-top:10px;
	padding-bottom:10px;
	margin-left:10px;}
	
.cg-l{
	width:720px;
	overflow:hidden;
	float:left;}
	
.cg-tit{
	width:720px;
	height:30px;
	line-height:30px;}
	
.cg-tit h3{
	float:left;
	color:#169fe7;
	font-size:14px;}
	
.cg-tit span{
	float:right;
	color:#999;}
	
.cg-nr{
	width:978px;
	overflow:hidden;}
	
.cg-nr li{
	float:left;
	width:168px;
	overflow:hidden;
	padding-right:12px;}
	
.cg-nr li a{
	height:20px;
	line-height:20px;
	overflow:hidden;}
	
.cg-r{
	width:245px;
	overflow:hidden;
	float:left;
	margin-left:10px;}
	
.zn-tit{
	width:245px;
	height:30px;
	line-height:30px;}
	
.zn-tit h3{
	font-size:14px;
	color:#169fe7;
	float:left;}	
	
.zn-tit span{
	float:right;
	color:#999;}
	
.zn-nr{
	width:245px;
	overflow:hidden;}
	
.zn-nr li{
	line-height:28px;
	height:28px;
	background:url(../images/index--_07.jpg) left no-repeat;
	padding-left:10px;
	width:245px;}

.activ{
	width:1000px;
	height:50px;
	line-height:50px;}
	
.sy-h{
	background:url(../images/img1_03.png) left no-repeat;
	padding-left:20px;
	color:#169fe7;
	font-size:14px;
	float:left;}
	
.sy-btn{
	float:right;
	padding-top:10px;
	padding-right:10px;}
/*第三个板块结束*/	




.ev-nr{
	width:978px;
	margin-left:10px;
	overflow:hidden;
	padding-top:10px;}
	
.ev-tit{
	width:978px;
	height:30px;
	background:#ededed;
	line-height:30px;
	color:#333;
	text-align:center;}
	
.ev-hd{
	width:365px;
	float:left;

	border-right:1px solid #fff;}
	
.ev-rq{
	width:155px;
	float:left;
	text-align:center;
	border-right:1px solid #fff;}
	
.ev-sj{
	width:150px;
	float:left;
	text-align:center;
	border-right:1px solid #fff;}
	
.ev-dd{
	width:230px;
	float:left;}
	
.ev-list{
	width:978px;
	line-height:35px;
	min-height:35px;
	border-bottom:1px dashed #dbdbdb;}
	
.ev-hd h3{
	color:#169fe7;}	
	
.ev-btn{
	width:75px;
	float:left;}

.ev-btn img{
	margin-top:3px;
	padding-right:5px;}
	
	
	
.sl-nr{
	width:978px;
	overflow:hidden;
	padding-top:10px;}	
	
.sl-nr li{
	float:left;
	width:120px;
	margin-left:38px;
	!margin-left:32px; 
	list-style:none;
	margin-top:10px;}
	
.sl-li{
	width:120px;
	height:120px;
	background:#ccc;
	border-radius:50%;
	text-align:center;
	line-height:120px;
	}
	
.icon-0 i{
	background:url(../images/sy_58.png)  no-repeat;
	width:70px;
	height:70px;
	display:inline-block;
	margin:25px 0 0 25px;
	}
	
.icon-0:hover{
	background:#ffa1a1;}
	
.icon-0:hover i{
	background:url(../images/pic_06.png) no-repeat;}
	
.icon-1 i{
	background:url(../images/sy_60.png)  no-repeat;
	width:70px;
	height:70px;
	display:inline-block;
	margin:25px 0 0 0px;}
	
	
.icon-1:hover i{
	background:url(../images/pic_08.png) no-repeat;}
	
.icon-1:hover{
	background:#ffd800;}
	

	
.icon-2:hover{
	background:#8e20ff;}
	
.icon-2:hover i{
	background:url(../images/pic_03.png) no-repeat;}
	
.icon-2 i{
	background:url(../images/sy_62.png)  no-repeat;
	width:70px;
	height:70px;
	display:inline-block;
	margin:25px 0 0 0px;}
	

	
.icon-3:hover{
	background:#5fc44e;}
	
.icon-3:hover i{
	background:url(../images/pic_11.png) no-repeat;}
	
.icon-3 i{
	background:url(../images/sy_64.png)  no-repeat;
	width:70px;
	height:70px;
	display:inline-block;
	margin:25px 0 0 0px;}
	
	
	
.icon-4:hover{
	background:#ff0000;}
	
.icon-4:hover i{
	background:url(../images/pic_13.png) no-repeat;}
	
.icon-4 i{
	background:url(../images/sy_66.png)  no-repeat;
	width:70px;
	height:70px;
	display:inline-block;
	margin:25px 0 0 0px;}	
	
	
.icon-5:hover{
	background:#ff7e00;}
	
.icon-5:hover i{
	background:url(../images/pic_15.png) no-repeat;}
	
.icon-5 i{
	background:url(../images/sy_68.png)  no-repeat;
	width:70px;
	height:70px;
	display:inline-block;
	margin:25px 0 0 0px;}	
	
.sl-li img{
	 width: 70px;
  	height: 70px;
  	display: inline-block;
	padding-top:25px;}
	

	
.sl-img{
	margin-left:10px;}
	
.sl-k{
	width:120px;
	height:30px;
	padding-top:10px;
	text-align:center;}
	
.sl-k h3{
	text-align:center;
	color:#808080;
	font-size:16px;
	line-height:30px;}
	
.t-img{
	width:80px;
	float:right;}
	
.t-img img{
	margin-top:5px;}
	
	
	
.hz-nr{
	width:978px;
	overflow:hidden;
	margin-left:10px;
	padding-top:20px;}
	
.hz-nr img{
	border: 1px solid #e3e3e3;
    float: left;
    margin-bottom: 15px;
    margin-left: 40px;}
	
.yq-nr{
	width:978px;
	overflow:hidden;
	margin-left:10px;
	padding-top:20px;}
	
.yq-nr a{
	padding-right:10px;
	line-height:28px;}
	
	


	

.suc-content-box { padding: 15px 0;}
.suc-border-l { border-left: 1px dashed #e3e3e3; }
.suc-border-t { border-top: 1px dashed #e3e3e3; }
.suc-border-r { border-right: 1px dashed #e3e3e3; }
.suc-border-b { border-bottom: 1px dashed #e3e3e3; }
.suc-border-a { border: 1px dashed #e3e3e3; }
.suc-float-l { float: left; }
.suc-float-r { float: right; }
.suc-content-left { float: left; width: 26%; }
.suc-content-right { float: right; width: 74%; }
.suc-describle-text {
  color: #169fe7;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 10px;
}
table{ table-layout:fixed;}
.suc-describle-title-l { font-size: 12px; color:#333; }
.suc-clearfix { clear: both; }
.suc-concat-list { 
	display: inline-block;
	float: left;
	padding: 20px;
	line-height: 3em;
}
.tb-p p{ color:#666;}
.suc-item-addr { background: url("../images/index_117.jpg") no-repeat left; padding-left: 40px;}
.suc-item-email { background: url("../images/index_120.jpg") no-repeat left; padding-left: 40px;}
.suc-item-tel { background: url("../images/index_124.jpg") no-repeat left; padding-left: 40px;}

.suc-ul { width: 100%; padding-top:10px;  }
.suc-ul li { display: block; width: 100%; height: auto; line-height: 30px; }
.suc-ul li table ~ div { display: none; }
.suc-ul li table { table-layout:fixed;width: 100%; border-bottom: 1px dashed #ddd; }
.t-p{ float:left;}
.suc-ul li table span { cursor: pointer; padding-left: 20px; float:right; }
.suc-ul li.suc-ul-header table { background: #ddd; border-bottom: none; text-align: center;  }
.suc-ul li.suc-ul-header table td { border-right: 1px solid #fff; }
.suc-ul li.suc-ul-header table td:last-child { border-right: none; }

.suc-media-focus { padding-left: 20px; background: url("../images/index--_07.jpg") no-repeat 5px;}

.suc-media-focus a {display: inline-block;width: 560px;white-space: nowrap;text-overflow:ellipsis;overflow:hidden; }

.suc-detail-btn-close { 
	margin-left: 10px;
	background:url(../images/icon_11.jpg) left;
	background-repeat: no-repeat;
	padding: 1px 0 1px 20px;
}
.suc-detail-btn-open {
	
}
	
	
	
	
	
	
	
	
	
.cenav{
	width:55px;
	overflow:hidden;
	
	}
	
.cenav li{
	width:40px;
	height:40px;
	text-align:center;
	list-style:none;
	margin-bottom:1px;
	}
	
.cenav li a{
	font-family:"微软雅黑";
	font-size:8px;
	color:#fff;
	width:40px;
	text-align:center;
	}
.cenav li a span{ 
	width:28px;
	margin: 2px 6px 0 6px;
	text-align: center;
    display: block;
    line-height: 20px;
    color:#fff;
	}
.cenav li img{
	width:40px;
	height:40px;
	}
	
.ce-o{
	background:#0781ac;
	}
	
.ce-o a{
	margin-top:10px;}
	
.ce-t{
	background:#26b5e7;}
	
.ce-li1{
	line-height:55px;}
	
.ce-li2{
	line-height:24px;}
	

	
